@import "variables";
.separator-text-component{
  margin: {
    top: $marginTopSeparator;
    bottom: $marginBottomSeparator;
  };
  display: block;
  > div{
    position: relative;
    border-top: $borderSeparator;
    display: flex;
    justify-content: center;
    div.actionIcon{
      position: absolute;
      right: 0;
      top: 0;
    }
    p{
      color: $colorTextSeparator;
      margin: 0;
      position: relative;
      top: -15px;
      padding: 0 15px;
      background-color: $backgroundSeparatorText;
      display: flex;
      align-items: center;
      i{
        font-size: 25px;
        padding: 0 5px;
      }
    }
  }
}
