$marginTopSeparator: 50px !default;
$marginBottomSeparator: 10px !default;
$backgroundSeparatorText: white !default;
$lineSeparatorColor: green !default;
$borderSeparator: 1px solid $lineSeparatorColor !default;
$colorTextSeparator: #747373 !default;
